---
import {
    sanityPortableText,
    getAllBlogPost,
    urlForImage,
} from "../../utils/utils";
import Navigation from "../../components/Blog/Navigation.astro";
import Content from "../../components/Blog/Content.astro";
import Footer from "../../components/Blog/Footer.astro";

export async function getStaticPaths() {
    const posts = await getAllBlogPost();
    const params = posts.map((p: any) => {
        return {
            params: { post: p.slug.current },
            props: { posts: p },
        };
    });

    return params;
}

export const prerender = true;

const { post } = Astro.params;
const { posts } = Astro.props;
import "../../style/global.css";
---

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{posts.title}</title>
    <link rel="stylesheet" href="/github-dark.min.css" />
</head>
<body>
    <div class="max-w-3xl m-auto p-5">
        <Navigation />
        <Content blog={posts} />
        <Footer />
    </div>
    <script src="/highlight.min.js" is:inline></script>
    <script>
        hljs.highlightAll();
    </script>
</body>
