---
---

<section class="text-center py-32 hero text-black">
    <h1 class="text-5xl max-w-[90%] md:max-w-[60%] m-auto">
        Welcome to my Blog!
    </h1>
    <p class="mt-6 text-lg max-w-[90%] md:max-w-[60%] m-auto">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus,
        accusamus. Iure magnam inventore natus saepe velit minus modi, quae odit
        quam, qui voluptatibus obcaecati? Ipsa iure repudiandae sed ab iste.
    </p>
    <div class="mt-6 flex place-content-center place-items-center">
        <button class="mx-1 px-6 py-2 bg-blue-800 text-white rounded-lg"
            >Join Us!</button
        >
        <button
            class="mx-1 px-6 py-2 bg-white border-blue-800 border text-blue-800 rounded-lg"
            >Browse</button
        >
    </div>
</section>
<style>
    .hero {
        background: url("../assets/doodle.svg") no-repeat right bottom;
        background-size: cover;
    }
</style>
