---
---

<nav class="w-full flex justify-between border-b-[1px] pt-3 pb-3 select-none">
    <div class="ml-4 mr-4">Icon</div>
    <div class="flex">
        <li class="list-none mx-2 lg:mx-4 hover:cursor-pointer">Home</li>
        <li class="list-none mx-2 lg:mx-4 hover:cursor-pointer">Projects</li>
        <li class="list-none mx-2 lg:mx-4 hover:cursor-pointer">Contact</li>
    </div>
</nav>
