---
import { urlForImage, sanityPortableText } from "../../utils/utils";
const { blog } = Astro.props;
const imgUrl = blog.mainImage ? urlForImage(blog.mainImage).toString() : "";
---

<div class="mt-10">
    <img
        style="max-height: 30vh; width:100%;object-fit:cover"
        src={imgUrl}
        alt=""
    />
    <h1 class="text-center text-6xl my-14">{blog.title}</h1>
    <p class="text-sm">{blog.description}</p>
    <br />
    <Fragment set:html={sanityPortableText(blog.body)} />
</div>
